.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.gridItem {
  border: 1px solid black;
  background-color: whitesmoke;

  margin-bottom: 1rem;
  padding: 1rem;
}
